option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fayette_gop.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fayette_gop.settings
    DJANGO_SECRET_KEY: 'replace-me'
    ALLOWED_HOSTS: 'fayettegop.com'
    SENDGRID_API_KEY: 'your-sendgrid-key'
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static