{% load static wagtailcore_tags %}
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fayette County GOP{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static 'dist/tailwind.css' %}" rel="stylesheet" />
  </head>
  <body class="font-montserrat antialiased text-gray-900">
    <a href="#content" class="sr-only focus:not-sr-only">Skip to content</a>

    {% include "partials/nav.html" %}

    <main id="content" tabindex="-1">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    <script type="module" src="{% static 'frontend/assets/index.js' %}"></script>
  </body>
</html>